{% extends 'base.html.twig' %}

{% block title %}Blogs{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% for item in rss.channel.item %}
            <a href="{{ item.link|default('') }}">
                <div>
                    <p>{{ item.title }}</p>
                    <p>{{ item.pubDate|date("M, d Y") }}</p>
                    <p>{{ item.description|default('')|raw }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
