<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <style>
                .navbar-custom {
                    background-color: #007bff; /* blue */
                }
                .navbar-custom .navbar-brand,
                .navbar-custom .navbar-text {
                    color: #ffffff; /* white */
                }
                .navbar-custom .navbar-nav .nav-link {
                    color: #ffffff; /* white */
                }
                .navbar-custom .nav-item.active .nav-link {
                    color: #ffffff; /* white */
                }
                button.logout_btn{
                    background-color: #006692;

                    cursor: pointer;
                    color: #f2f3f7;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 1px;
                    transition: all 0.3s ease;
                }
                button.logout_btn:hover{
                    color: #006692;
                    background-color: #f2f3f7;
                }
            </style>
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand" href="{{ path('app_category_index') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                {% if app.user %}
                <li><a href="{{ path('app_logout') }}"><button class="logout_btn">Logout</button></a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}"><button class="logout_btn">Login</button></a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

        {% block body %}{% endblock %}
    </body>
</html>
